@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    max-width: 80%;
    border-radius: 20px;
    padding: 15px;
}

.qr-image {
    border-radius: 20px;
    width: 100%;
}

.text-container {
    padding: 20px;
}

.title-text {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.subtitle-text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding-top: 10px;
}

.attribution { font-size: 11px; text-align: center; padding-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }